extends partials/layout.jade

block content
	.container
		.header
			ul.nav.nav-pills.pull-right
				li.active
					a(href="index.html") Home
				li
					a(href="about.html") About
				li
					a(href="#") Contact
			h3.text-muted GulpDev

		.jumbotron
			h1 Gulp Seed
			p.lead Always a pleasure scaffolding your apps.
			p
				a.btn.btn-lg.btn-success(href="https://github.com/Narkeba/gulp-seed") Github!

		.row.marketing
			.row
				.col-md-4
					h4 HTML5 Boilerplate
					p HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
				.col-md-4
					h4 Bootstrap
					p Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.
				.col-md-4
					h4 Modernizr
					p Modernizr is an open-source JavaScript library that helps you build the next generation of HTML5 and CSS3-powered websites.

		.footer
			p With ♥ from the Narkoman