extends partials/layout.jade

block content
	.container
		.header
			ul.nav.nav-pills.pull-right
				li.active
					a(href="index.html") Home
				li
					a(href="about.html") About
				li
					a(href="#") Contact
			h3.text-muted NarkoDev

		.jumbotron
			h1 Nark Seed
			p.lead Always a pleasure scaffolding your apps.
			p
				a.btn.btn-lg.btn-success(href="#") Great button!

		.row.marketing
			.col-lg-6
				h4 HTML5 Boilerplate
				p HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.

				h4 Bootstrap
				p Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.

				h4 Modernizr
				p Modernizr is an open-source JavaScript library that helps you build the next generation of HTML5 and CSS3-powered websites.

		.footer
			p With ♥ from the Narkoman