doctype html
html(lang="ru")
	head
		title GulpDev
		link(rel="stylesheet", href="css/bootstrap.min.css")
		link(rel="stylesheet", href="css/all.css")
		script(src="js/vendor/modernizr/modernizr.js")
		block head
	body
		block content
		script(src="js/vendor/jquery/jquery.min.js")
		script(src="js/all.js")

		script(src="js/bootstrap.min.js")