@import "variables.less";

body, html {
	height: 100%;
}

#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -@footerHeight;
	padding: 10px 0 @footerHeight;
}
#footer {
	height: @footerHeight;
}
#information {
	height: 194px;
	margin-bottom: 20px;
	h3 {
		margin-top: 0;
	}
}
#avatar {
	margin-right: 20px;
}
#portfolio .row h4 {
	margin-top: 0;
}
.fix-height {
	height: 194px;
	display: inline-block;
	vertical-align: top;
}
#works:after {
	content: "";
	display: table;
	clear: both;
}