extends partials/layout.jade

block content
	.container#wrap
			#information.row

				#about.fix-height.work.col-md-5
					img.img-thumbnail.pull-left#avatar(src="images/narkeba.jpg")
					h3 О себе
					p: b Бальхаев Михаил Доржиевич
					p 09.03.1995 
						small.text-muted (18 лет)
					p Место проживания: Москва
					p Сфера деятельности: FrontEnd
					p Опыт работы: 4-5 лет

				ul#skills.fix-height.work.col-md-4
					h3 Умения
					.row
						.col-md-6
							p: b FrontEnd
							li.skill JavaScript: 5
							li.skill HTML5: 5
							li.skill CSS3: 5
						.col-md-6
							p: b BackEnd
							li.skill JavaScript: 5
							li.skill Python: 3
							li.skill PHP: 3

				#contacts.fix-height.work.col-md-3
					h3 Контакты
					p.contact Моб: 8 (916) 106-42-63
					p.contact E-Mail: narkeba@gmail.com
					p.contact Skype: jivan13
			.panel.panel-primary
				.panel-heading Допонительно
				.panel-body#additionally
					.row
						.col-md-8
							h4 Работал с Framework'ами:
							.row
								.col-md-6
									p: b FrontEnd
									.framework
										p Backbone
									.framework
										p AngularJs
									.framework
										p jQuery
								.col-md-6
									p: b BackEnd
									.framework
										p Django
									.framework
										p Yii
									.framework
										p ASP.NET
						.col-md-4
							h4 Работал с препроцессорами:
							.preprocessor
								p Less
							.preprocessor
								p Sass
							.preprocessor
								p CoffeeScript
					.row
						.col-md-4
							h4 Работал с шаблонизатарами:
							.templating
								p Jade
							.templating
								p Handlebars
							.templating
								p Razor
						.col-md-4
							h4 Работал с сборщиками пакетов:
							.packagers
								p Grunt
							.packagers
								p Gulp
						.col-md-4
							h4 Система управления версиями:
							.vcs
								p Git
				.panel-footer
					b От себя:
					p. Считаю что будущее Web-Программирования за JavaScript, т.к. уже в наше время явно виднеется тенденция к его распространению (NodeJS, JS фреймворки), поэтому делаю максимальный упор на него. Активно изучаю все что работает на JavaScript, начиная от Front-Framework'ов (AngularJS, Backbone), заканчивая сборщиками пакетов (Gulp, Grunt). Искренне надеюсь что когда-нибудь мне удасться реализовать серьезный проект на NodeJS.

			#works
				h3 Предыдущие места работы
				.row
					.work.col-md-4
						b Рекламное агентство - RedBox
						p: a(href="http://ra-redbox.ru", target="_blank") http://ra-redbox.ru
						p Первое место работы. Набил руку, освоил основы CSS, HTML. Начал работать с CMS Joomla, редактировал шаблоны. В последствии перешли на Wordpress, где я впервые попробывал создать свой шаблон с 0. Интересных проектов не было, вся работа сводилась к изменению\натягиванию шаблонов и последующие администратирование сайта.
					.work.col-md-4
						b Рекламное агентство - IdeeGroupe
						p: a(href="http://ideegroupe.com", target="_blank") http://ideegroupe.com
						p Активно практиковали Wordpress, иногда делали шаблоны с 0, но чаще покупка и последющая переделка. Начал работать с PHP, писать свои модули, вникать в устройство Wordpress. Так же активно начал изучать jQuery, затем сам JS. Из интересных работ
						p: a(href="http://scapp.ru", target="_blank") Новостной портал
						p: a(href="http://ideegroupe.com", target="_blank") Сайт агентства

					.work.col-md-4
						b Хостинговая компания - Oversun
						p: a(href="http://oversun.ru", target="_blank") http://oversun.ru
						p Первая серьезная работа, крупная компания, все строго. Получил бесценный опыт, освоил кучу технологий, узнал много нового. Впервые попробывал серьезно использовать Git.

			#portfolio
				h3 Портфолио
				.row
					.item.col-md-4
						b Новостной портал - Scapp 
						p: a(href="http://scapp.ru", target="_blank") http://scapp.ru
						p Новостной портал, интересная навигация с использованием isotope. Изначально занимался FrontEnd (верстал виды страниц), затем начал использовать jQuery. Спустя 2-3 месяца втянулся в BackEnd. Крутиться все на ModX, используеться его Фреймворковая часть, остальное сами писали.
					.item.col-md-4
						b Сайт рекламного агентства - IdeeGroupe 
						p: a(href="http://ideegroupe.com", target="_blank") http://ideegroupe.com
						p Перелапатил Parallax от HotDot и привязал его к Wordpress. Управление слайдами происходило из админки и полностью настривалось. Потратил на это довольно много времени, зато узнал много нового о Wordpress и JS.
					.col-md-4
						h4 Wordpress 
							small Доработанные шаблоны
						.item
							img(src="")
							a(href="http://spksochi.ru", target="_blank") http://spksochi.ru
						.item
							img(src="")
							a(href="http://brandsforme.ru", target="_blank") http://brandsforme.ru
						.item
							img(src="")
							a(href="http://inter-sochi.ru", target="_blank") http://inter-sochi.ru
						.item
							img(src="")
							a(href="http://ultramarin-sochi.ru", target="_blank") http://ultramarin-sochi.ru
						.item
							img(src="")
							a(href="http://citrushotel.ru", target="_blank") http://citrushotel.ru

	.container#footer
		span.pull-right Проект на 
			a(href="http://github.com/Narkeba/", target="_blank") GitHub
		p Страница сделано с использованием 
			a(href="http://gulpjs.com/", target="_blank") Gulp
			, 
			a(href="http://coffeescript.org/", target="_blank") Less
			, 
			a(href="http://lesscss.org/", target="_blank") CoffeeScript
			, 
			a(href="http://jade-lang.com/", target="_blank") Jade
			, 
			a(href="http://getbootstrap.com/", target="_blank") Bootstrap 